DATABASE_URL="file:./dev.db"
PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID=".apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX"


# Session
SESSION_SECRET="your-session-secret"
CLIENT_URL="http://localhost:5173"


# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_Kq

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_Kq

# Parameters for constructing your own connection string
PGHOST=ep-falling-dream-abbq5kty